/Methods/nbproject/private/
/Methods/build/
/IntermediateLevel/nbproject/private/
/IntermediateLevel/build/
/Advanced/nbproject/private/
/Advanced/build/
/Production/nbproject/private/
/Production/build/
/FinalProjects/nbproject/private/
/FinalProjects/build/
/FinalProject/nbproject/private/
/FinalProject/build/
/FinalProject/dist/