/Methods/nbproject/private/
/Methods/build/
/IntermediateLevel/nbproject/private/
/IntermediateLevel/build/
/Advanced/nbproject/private/
/Advanced/build/
/Production/nbproject/private/
/Production/build/
/FinalProjects/nbproject/private/
/FinalProjects/build/
/FinalProject/nbproject/private/
/FinalProject/build/
/FinalProject/dist/
/AdvancedOUI/nbproject/private/
/AdvancedOUI/build/
/JavaDrag/nbproject/private/
/JAVA_ADVANCED/nbproject/private/
/JavaDrags/nbproject/private/
/JavaDrags/build/
/PracticeLessons/nbproject/private/
/PracticeLessons/build/
/TestPractice/nbproject/private/
/TestPractice/build/
/Azam/nbproject/private/
/Azam/build/
/Somalia/nbproject/private/
/Somalia/build/
/LastProject/nbproject/private/
/LastProject/build/
/Asaam1/nbproject/private/
/Azaam1/nbproject/private/
/Azaam1/build/